.nextBtnWrapper {
  text-align: center;
  position: fixed;
  bottom: 50px;
  width: 100%;
  max-width: 516px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nextInfo {
  font-size: 13px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  color: red;
  font-family: '"Gowun Dodum';
}
