.memoDiv {
  width: 39vw;
  height: 22vh;
  margin: 10px;
  max-width: 180px;
  max-height: 250px;

  &:hover {
    transform: scale(1.1);
  }
}

.focusedMemoDiv {
  box-shadow: 0 0 27px rgba(231, 44, 44, 0.55);
}

.MemoWrapper {
  height: 75vh;
  display: flex;
  order: 3;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  padding: 30px 10px 60px;
}
.nextBtnWrapper {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 516px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 17.62%,
    rgba(255, 255, 255, 0.6) 38.65%,
    #ffffff 51.04%
  );
}
