.rpImg {
  width: 100%;
  height: auto;
}

.Wrapper {
  height: 100%;

  .imgWrapper {
    // height: 100%;
    display: flex;
    justify-content: center;
  }

  .canvasWrapper {
    height: 500px;
    overflow-y: scroll;
  }

  .infoMsgWrapper {
    margin-top: 35%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Gowun Dodum";
  }

  .buttonWrapper {
    text-align: center;
    margin-top: 10px;
    position: fixed;
    bottom: 7vh;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    max-width: 516px;

    .addButtonWrapper {
      display: flex;
      justify-content: end;

      .addbutton {
        width: 61px;
        display: flex;
        text-align: center;
        height: auto;
        align-items: center;
        justify-content: center;
        border: none;
      }
    }
  }
}

.createBtn {
  font-family: "Gowun Dodum";
}

.info {
  text-align: center;
  color: red;
  font-size: 17px;
  font-weight: 600;
  margin-top: 35px;
  font-family: "Gowun Dodum";
}
